{% extends "menu.jinja" %}
{% set title = 'ГЛАВНОЕ МЕНЮ' %}
{% set intro = 'Выберите номер нужного пункта меню' %}
{% set
    options = [
        'Добавить новое животное в реестр',
        'Просмотреть всех животных в реестре'
    ]
%}