{% extends "message.jinja" %}
{% block message %}
Надеюсь, что вам понравился проект.
Буду благодарен за баг-репорты: https://github.com/AllIWantAreNotAvailable/GeekBrains_FinalAttestationOfTheSpecializationBlock/issues

©AllIWantAreNotAvailable (https://github.com/AllIWantAreNotAvailable)
{% endblock %}
