{% extends "message.jinja" %}
{% block message %}
Добро пожаловать в программу имитирующую реестр питомника для животных.
Данный проект является проектом итоговой аттестации блока "Специализация" курса "Разработчик" платформы "GeekBrains".
©AllIWantAreNotAvailable (https://github.com/AllIWantAreNotAvailable)
{% endblock %}
